
*
{
    border: 1px solid black;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: black;
    text-transform: capitalize;
    margin: 20px;
    padding: 50px;
    text-decoration: underline;
    text-decoration-color: blue;
    background: radial-gradient(blue,red,yellow,green,pink);
   opacity: 0.5;
}
.menu li
{
   /* display: ;
    visibility: ;*/

   /* display: block ;by default it is block*/
   display:  inline;
   float:left

}
a
{
    background-color: aqua;
}
/* tag name,class name(.) , id name(#)  */
.menu
{
    float:left;
    position:sticky;
    left: 0px;
    top: 50px;
    
    
}
.firstDiv
{
    background-color: antiquewhite;
/* box-sizing: border-box; //by default it is only */
    padding: 20px;
    /* box-sizing: border-box; */
    /* position: sticky;
    left: 100px;
    top: 100px; */
}
#data
{
    clear: both;
    position: relative;
}

#container
{
    height: 300px;
    width: 300px;
    border: 1px solid red;
}
.child
{
    border: 2px solid black;
    background-color: crimson;
    height: 100px;
    width: 20.33%;
    margin: 10px;
    float: left;
}
